@import "image/color.scss";

// Social.js
.social {
  margin: 0.3em;
}
.social-cover {
  display: flex;
  align-items: center;
  text-align: center;
  .image { display: contents; }
  .text {
    color: white;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
  }
}
.naver { background: $naver; }
.facebook { background: $facebook; }
.google { background: $google; }
.kakao { background: $kakao; }
.linkedin { background: $linkedin; }
.guest { 
  background: black;
 }