@import "image/color.scss";

// Social.js
.social {
  margin-bottom: 5px;
}
.social-cover {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  .text {
    color: white;
    width: 100%;
    font-size: 1.7em;
    font-weight: bold;
    text-transform: capitalize;
  }
}
.social-cover:hover {
  background: white;
  border: 2px solid black;
  .text {
    color: black;
    font-size: 1.8em;
  }
}
.naver {
  background: $naver;
}
.facebook {
  background: $facebook;
}
.google {
  background: $google;
}
.kakao {
  background: $kakao;
}
.linkedin {
  background: $linkedin;
}
.guest {
  background: black;
  margin-top: 1em;
}
